body {
    padding: 0;
    margin: 0;
}

.video_player_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    video {
        position: absolute;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;

        &[data-is-active="false"] {
            display: none;
        }
        &[data-is-active="true"] {
            display: block;
        }
    }

}
