body {
    padding: 0;
    margin: 0;
}

.video_player_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    video {
        position: absolute;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;

        &[data-is-active="false"] {
            display: none;
        }
        &[data-is-active="true"] {
            display: block;
        }
    }

    #clock_container {
        width: 100%;
        height: 100%;
        background-color: black;

        &[data-is-active="false"] {
            display: none;
        }
        &[data-is-active="true"] {
            display: block;
        }

        span#clock {
            font-family: monospace;
            color: white;
            font-size: 20em;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

}
